.deck {
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: start;
  justify-content: start;
  touch-action: none;
  top: 200px
}

.deck > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70vw;
  /*max-width: 150px;*/
  height: 60vh;
  /*max-height: 285px;*/
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 2.5px 30px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  touch-action: none;
}
