@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* progress test */
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 15px;
  border: none;
  background: lightgray;
  border: 1px;
}
progress::-webkit-progress-bar {
  background: rgb(177, 177, 177);
}
progress::-webkit-progress-value {
  background: rgb(255, 254, 254);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: rgb(255, 255, 255);
  background-attachment: fixed;
}

@layer base {
  @font-face {
    font-family: 'PPPangaia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/PPPangaia-Medium.otf) format('opentype');
  }
}