@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* progress test */
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 15px;
  border: none;
  background: lightgray;
  border: 1px;
  border-radius: 7.5px;
}
progress::-webkit-progress-bar {
  background: rgb(177, 177, 177);
  border-radius: 7.5px;
}
progress::-webkit-progress-value {
  background: #e1f353;
  background-attachment: fixed;
  border-radius: 7.5px;
}
progress::-moz-progress-bar {
  background: #e1f353;
  background-attachment: fixed;
  border-radius: 7.5px;
}

@layer base {
  @font-face {
    font-family: "PPPangaia";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/PPPangaia-Medium.otf) format("opentype");
  }
}
